// Settings - Global variables, config switches.

// Nothing here yet.

//// Maybe show the Bourbon Neat visual grid?
// $visual-grid: true;

$color-primary: #223377;
$color-primary-wash: lighten($color-primary, 50);
$font-family--default: 'Segoe UI', sans-serif;